{% extends "base.html" %}
{% block head %}
<style>
        .statement{
            padding:30px;
            text-align:center;
            border-bottom:1px solid #eee;
            }


</style>
{% endblock %}
{% block title%}查看历史数据{% endblock %}
{% block content %}
<div class="container" style="box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.3);">

<div class="row">
	<div class="statement">
		<h1>查看历史数据</h1>
	</div>
    <div class="table table-hover">
        {% if THD %}
        <ul>
            {% for thd in THD %}
            <li>{{ thd.timeval }}{{ thd.temperature }}{{ thd.humidity }}</li>
            {% endfor %}
        </ul>
        {% else %}
            <p>NO DATA.</p>
        {% endif %}
    </div>
</div>s




</div>

{% endblock%}
