{% extends "base.html" %}
{% block head %}
<style>
        .statement{
            padding:30px;
            text-align:center;
            border-bottom:1px solid #eee;
            }
        .table>tbody>th>tr>td {
                border: 0px;
                text-align: center;
            }

        .bootstrap-table .table thead>tr>th {
                text-align: center;
            }
        .table thead {
                background: #ebeaea;
            }


</style>
{% endblock %}
{% block title%}查看历史数据{% endblock %}
{% block content %}
<div class="container" style="box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.3);">

<div class="row">
	<div class="statement">
		<h1>查看历史数据</h1>
	</div>
    <div>
    <table class="table table-hover table-bordered table-condensed">
        <thead>
           <tr>
               <th class="text-center">时间</th>
               <th class="text-center">温度</th>
               <th class="text-center">湿度</th>
           </tr>
        </thead>
        <tbody>
        {% if THD %}
            {% for thd in THD %}
        <tr class="text-center">
            <td>{{ thd.timeval }}</td>
            <td>{{ thd.temperature }}</td>
            <td>{{ thd.humidity }}</td>
        </tr>
            {% endfor %}
        {% endif %}
      </tbody>
    </table>
    </div>
</div>

</div>

{% endblock%}
